@charset "UTF-8";
body, header, footer, ul, li {
  margin: 0;
  padding: 0;
  line-height: 1.0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif; }

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  font-weight: normal; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  color: #2e4d6b; }
  body div {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 50% 1fr; }
    body div > header.site-header {
      grid-row: 1;
      grid-column: 2;
      padding: 8rem 0 3rem; }
    body div > main {
      grid-row: 2;
      grid-column: 2; }
    body div > footer.site-footer {
      grid-row: 3;
      grid-column: 2;
      padding: 3rem 0 5rem; }

header.site-header {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 10rem auto; }
  header.site-header h1 {
    grid-row: 1;
    grid-column: 2;
    padding: 3rem 0 0;
    font-size: 2.5rem; }
    header.site-header h1 span {
      padding: 0 1rem;
      font-size: 1.8rem; }
      header.site-header h1 span::before {
        content: ": "; }
  header.site-header p {
    grid-row: 2;
    grid-column: 2;
    font-size: 1.4rem; }
    header.site-header p img {
      position: relative;
      top: 0.3rem;
      display: inline-block;
      height: 1.6rem;
      padding-right: 0.7rem; }
  header.site-header div.icon {
    grid-row: 1 / 3;
    grid-column: 1;
    width: 8rem;
    height: 8rem;
    background: url("/images/y047aka.png");
    background-size: cover;
    border-radius: 50%; }

main {
  border-top: solid 0.5rem rgba(46, 77, 107, 0.05);
  border-bottom: solid 0.5rem rgba(46, 77, 107, 0.05); }
  main section {
    padding: 3rem 0 4rem; }
    main section + section {
      border-top: solid 0.5rem rgba(46, 77, 107, 0.05); }
  main h1 {
    padding: 1rem 0;
    font-size: 2rem; }
  main * + h1 {
    margin-top: 2rem; }
  main a {
    color: #0066cc;
    text-decoration: none; }
  main ul {
    padding-left: 2em;
    list-style: square; }
    main ul li {
      line-height: 2.6rem; }
  main table.heatmap {
    border-spacing: 0.3rem; }
    main table.heatmap th {
      position: relative;
      height: 1em;
      font-size: 1.2rem;
      font-weight: normal; }
      main table.heatmap th span {
        position: absolute;
        top: 0;
        left: 0; }
    main table.heatmap td {
      width: 0.8vw;
      height: 0.8vw;
      background: rgba(46, 77, 107, 0.05); }
    main table.heatmap td:not([data-tooltip=""]) {
      position: relative;
      background: #0066cc; }
      main table.heatmap td:not([data-tooltip=""]):hover::before {
        position: absolute;
        top: -4rem;
        left: 0;
        display: block;
        width: 20rem;
        padding: 0.5rem;
        content: attr(data-tooltip);
        background: #0066cc;
        color: #FFF;
        border-radius: 0.2rem; }

footer.site-footer .copyright {
  text-align: right;
  font-size: 1.4rem; }
